header .desktop-menu ul li a {
    color: #FFF;
}

.header-appear .nav-box-round .navbar-nav .nav-link.active {
    background-color: #1d9684 !important;
    color: #ffffff !important;
}
.header-appear .nav-box-round .navbar-nav .nav-link:hover {
    color: #1d9684 !important;
}
header .mobile-menu-content nav ul li a {
    color: #346ee9;
}
header .mobile-menu-content .footer ul li a {
    color: #346ee9;
}
header.header-appear .desktop-menu ul li a {
    color: #346ee9;
}
header.header-appear .desktop-menu ul li a::before {
    color: #346ee9;
}


/* banner */
.banner-area::before {
    background: rgba(0, 0, 0, .3);
}
.banner-area .content .left p {
    font-size: 24px;
    color: #000;
}
.banner-area .content .left p:nth-child(2n) {
    color: #fff;
}
.banner-area .btn-area button {
   color: #000;
   background: #346ee9;
}
.banner-area .btn-area button:hover {
    background: #000;
    color: #fff;
}
/* end banner */


/** about FGTS **/
.about-fgts .content .title-area h3 {
    color: #346ee9;
}
.about-fgts .content .title-area p {
    color: #000;
}
.about-fgts .description-area .title-area p {
    color: #346ee9;
}
/** end about FGTS **/

/* process */
.process .title-area h2 {
    color: #346ee9;
}
.process .title-area p {
    color: #000;
}
/* end process */

/** benefits **/
.benefits-area .title-area h3 {
    color: #346ee9;
}
.benefits-area .card-area .card-logo i {
    color: #346ee9;
}
.benefits-area .card-area .card-title h2 {
    color: #346ee9;
}
/** end benefits **/


.header-appear .nav-box-round .navbar-nav .nav-link.active {
    background-color: #346ee9 !important;
    color: #ffffff !important;
}
.header-appear .nav-box-round .navbar-nav .nav-link:hover {
    color: #346ee9 !important;
}
.btn.btn-gradient {
    background-image: linear-gradient(to right, #346ee9 0%, #000000 51%, #346ee9 100%) !important;
}

.third-color {
    color: #346ee9 !important;
}

.footer-social li a:hover {
    background-color: #346ee9 !important;
    color: #ffffff;
}

.scroll-top-arrow {

    background-image: linear-gradient(to right, #346ee9 0%, #000000 60%, #346ee9 100%) !important;
}